body {
    background-color: teal;
}

.list {
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.link {
    text-decoration: none;
}

:root {
    --text-color: #2E2F42;
    --firstword-text-color: #4D5AE5;
    --background-color: #404bbf;
    --backgroud-color: #2e2f42;
    --paragraph-color: #434455;
    --white-color: #F4F4FD;
    --body-color: #FFFFFF;
    --svg-color: #f4f4fd;
    --a-color: #8e8f99;

}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--body-color);
    letter-spacing: 0.02em;
}

img {
    display: block;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}

/* =====Mobile===== */

@media screen and (min-width:320px)  {
    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        /* margin-left: auto;
        margin-right: auto; */
    }

    .main-header{
    height: 70px;
}

    .menu {
        display: none;
    }

    .list-nav-portfolio {
        display: none;
    }

    .logo {
        color: var(--firstword-text-color);
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 1.17;
    }

    .nav-one {
    display: inline-flex;
    height: 24px;
    align-items: center;
    }

    .logo-part-two {
        color: var(--text-color);
    }

    .menu-toggle {
        border: none;
        background-color: transparent;
        line-height: 0;
        stroke: #2E2F42;
    }

    .navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px;
    }

    /*=====Mobile-menu======*/

    .mobile-menu-container {
        position: fixed;
        top: 0;
        right: 0;
        background: var(--WHITE, #FFF);
        box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
        z-index: 99999999;
        width: 100%;
        height: 100%;
        transform: translateX(100%);
        transition: transform 250ms linear;
    }

    .mobile-menu-container .is-open {
        transform: translateX(0%);
    }

    .mobile-menu-container-close-btn {
        display: block;
        border: none;
        background-color: transparent;
        line-height: 0;
        padding: 0;
        stroke: #2E2F42;
        padding-top: 32px;
        padding-right: 32px;
        margin-left: auto;
    }

    .mobile-menu-link{
        color: #2E2F42;
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }

    .mobile-menu {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        margin-left: 40px;
        margin-bottom: 168px;
    }

   
    .mobile-menu-link:hover,
    .mobile-menu-link:focus{
        color:#404BBF;
    }

    .social-list {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        width: 353px;
        margin-left: 40px;
    }

    .social-list-link-phone {
        color:  #4D5AE5;
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }


   

    .social-list-link-email{
        color: #434455;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }

    .item-svg-icons {
        width: 40px;
        height: 40px;
    
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    .item-svg-icons-background {
        width: 100%;
        height: 100%;
        background-color: var(--firstword-text-color);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
    .svg-section-four {
        fill: #f4f4fd;
        }

/*main*/


/*=====SECTION-1=====*/

.section-one {
    background-color: #2e2f42;
    margin-left: auto;
    margin-right: auto;
    padding: 188px 0;

    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-office.jpg);
    width: 428px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-text {
    color: #ffffff;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    ;
}

.main-page-button {
    background-color: var(--firstword-text-color);
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-page-button:hover,
.main-page-button:focus {
    background-color: #404BBF
}

/*=====END-SECTION-1=====*/



/*=====SECTION-2=====*/
.section-two-main-page  {
        width: 428px;
    }

    .header-three {
        color: var(--text-color);
        font-family: Roboto;
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0.04em;
        margin-bottom: 8px;
        text-transform: capitalize;
    }

    .section-two {
        display: inline-flex;
        flex-direction: column;
        gap: 72px;
        margin-top: 96px;
        padding: 0 15px;
        }
    

    .icon-section-two {
        display: none;
    }

    .list-section-two {
        /* width: 396px; */
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .paragraph {
        color: var(--paragraph-color);
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;
        margin-bottom: 8px;
    }

    /*=====END-SECTION-2=====*/
/*=====END-SECTION-2=====*/



/*=====SECTION-3=====*/
.section-three {
   display:none;
}
/*=====END-SECTION-3=====*/


/*=====SECTION-4=====*/
.section-four {
    width: 428px;
    background-color: #F4F4FD;
    margin-top: 96px;
}

.text-our-team {
    color: var(--text-color);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    padding-top: 96px;

}

.list-section-four {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
    
}

.section-four-li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-bottom: 96px;

    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-socialmedia-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 32px;
        
}

.item-svg-icons {
    width: 40px;
    height: 40px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-svg-icons-background {
    width: 100%;
    height: 100%;
    background-color: var(--firstword-text-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-svg-icons-background:hover,
.item-svg-icons-background:focus {
    background-color: #404bbf;
}

.name-job {
    width: 264px;
}

.svg-section-four {
    fill: #f4f4fd;
}

.header-section-four {
    color: var(--text-color);
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.paragraph-our-team {
    color: var(--paragraph-color);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

/*=====END-SECTION-4=====*/

/*=====SECTION-FIVE=====*/
.section-five {
    color:var(--a-color);
}

.customers {
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 72px;
    color: var(--text-color);
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-top: 96px;

}

.list-customer-section-five {
    display: flex;
    flex-direction: column;
    gap: 72px 16px;
    padding: 0;
    margin: 0;
}

.item-customer-section-five {
    width: calc((100% - 16px) / 2);
    height: 88px;
    
}

.link-section-five {
    color: #8E8F99;
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-section-five {
    fill: currentColor;
}

.link-section-five:hover,
.link-section-five:focus {
    border-color: #404bbf;
    color: #404bbf;
}
/*======END-MOBILE-MENU======*/
/*=====FOOTER=====*/

.footer {
    background-color: var(--backgroud-color);
    width: 428px;
    height: 664px;
}

.container-all-footer {
    align-items: baseline;
    /* display: column; */

}

.logo-footer {
    color: var(--firstword-text-color);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.17;
    /* display: inline-block; */
    margin-bottom: 17px;
    text-align: center;

    display: inline-flex;
    height: 24px;
    align-items: center;
}

.logo-part-two-footer {
    color: #f4f4fd;
}

.paragraph-footer {
    color: var(--white-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.container-footer {
    width: 264px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 96px;
    padding-top: 96px;
    text-align: center;
}

.paragraph-footer-socialmedia {
    color: var(--body-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 72px;
    text-align: center;
}

.list-footer-socialmedia {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    margin-top: 16px;
}

.container-footer-sm {
    width: 208px; 
    margin: auto; 
}

.item-footer-socialmedia {
    width: 40px;
    height: 40px;
    display: inline-flex;
    gap: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-item-footer {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--firstword-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-item-footer:focus,
.link-item-footer:hover {
    background-color: #31d0aa;
}

.svg-footer {
    fill: var(--svg-color);
}


.input-email {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.paragraph-subscribe {
    color: #ffffff;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 16px;
    margin-top: 72px;
    text-align: center;
}

.input-email::placeholder {
    color: #ffffff;
}

.container-info {
    background-color: var(--backgroud-color);
    margin: auto;
    width: 398px;
}

.form-container {
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.button-footer-email {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 8px 24px;
    height: 40px;
    min-width: 165px;
    border: none;
    background-color: #4D5AE5;
    gap: 16px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
  
}

.svg-subscribe {
    fill: var(--svg-color);
    margin-left: 16px;
}

.label-email{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
}
/*=====END-FOOTER=====*/
}


/*====Tablet======*/

@media screen and (min-width:767px){
    .container {
    padding: 0 16px;
    max-width: 768px;
    }

    /*=====HEADER-MAIN-PAGE=====*/
    
    .main-header {
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    }
    
    .navigation {
        width: 100%;
        height: 72px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        display: flex;
        padding: 16px;
    }
    
    .menu {
        display: flex;
        gap: 40px;
    }
    
    
    .logo {
        color: var(--firstword-text-color);
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 1.17;
        margin-right: 120px;
        display: inline-flex;
        height: 24px;
        align-items: center;
    }
    
    .logo-part-two {
        color: var(--text-color);
    }
    
    .link-menu {
        color: #2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: block;
    }
    
    .current {
        position: relative;
        color: #404bbf;
    }
    
    .current::after {
        content: "";
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: -1px;
        border-radius: 2px;
        background-color: #404bbf;
    }

    .menu-toggle {
        display: none;
    }
    
    .address {
        display: flex;
    }
    
    
    .list-nav-portfolio {
        display: flex;
        flex-direction: column;
    }

    .contact-li {
        display: flex;
        margin-bottom: 12px;
        margin-left: 122px;
        width: 119px;
        height: 14px;
    }
    
    .contact {
        color: #434455;
        font-family: Roboto, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
        text-decoration: none;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .contact:hover,
    .contact:focus {
        color: #404bbf
    }
    
/*=====END-HEADER-MAIN-PAGE=====*/
    
    
/*main*/


/*=====SECTION-1=====*/

.section-one {
    background-color: #2e2f42;
    margin-left: auto;
    margin-right: auto;
    padding: 188px 0;

    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-office.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-text {
    color: #ffffff;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    ;
}

.main-page-button {
    background-color: var(--firstword-text-color);
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-page-button:hover,
.main-page-button:focus {
    background-color: #404BBF
}

/*=====END-SECTION-1=====*/
/*=====SECTION-2=====*/
.section-two-main-page {
    width:768px;
}

.header-three {
    color: var(--text-color);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.section-two {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 96px;
    align-items: flex-start;
    flex-wrap: wrap;
}



.icon-section-two {
    display: none;
}

.list-section-two {
    width: calc((100% - 24px) / 2);
    height: 72px;
}

.paragraph {
    color: var(--paragraph-color);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 8px;
}

/*=====END-SECTION-2=====*/

/*=====SECTION-4=====*/
.section-four {
    background-color: #F4F4FD;
    width: 768px;
}

.text-our-team {
    color: var(--text-color);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    padding-top: 96px;
}

.list-section-four {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.section-four-li {
    display: inline-flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-socialmedia-icons {
    display: flex;
    justify-content: center;
    gap: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-svg-icons {
    width: 40px;
    height: 40px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-svg-icons-background {
    width: 100%;
    height: 100%;
    background-color: var(--firstword-text-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-svg-icons-background:hover,
.item-svg-icons-background:focus {
    background-color: #404bbf;
}

.name-job {
  padding:0;
}

.svg-section-four {
    fill: #f4f4fd;
}

.header-section-four {
    color: var(--text-color);
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.paragraph-our-team {
    color: var(--paragraph-color);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

/*=====END-SECTION-4=====*/





}